# Configurações do IngestorX

# Diretório base para as pastas de entrada, processando, processado, erro, ignorados e logs.
# Default: ./dados
XML_WATCHER_BASE_DIR=./dados

# Identificadores para rastreamento de logs e tracing distribuído.
XML_WATCHER_TENANT_ID=tenant_default
XML_WATCHER_WORKER_ID=worker_1

# Extensões de arquivos permitidas (separadas por vírgula)
# Default: xml
XML_WATCHER_EXTENSOES_PERMITIDAS=xml,zip,7z

# URL de conexão do RabbitMQ (conforme porta exposta no docker-compose.yml local)
# Default: amqp://admin:admin@localhost:5673/%2f
XML_WATCHER_RABBITMQ_URL=amqp://admin:admin@localhost:5673/%2f
